<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="File"
                     fileName="logs/automation.log"
                     filePattern="logs/automation-%d{yyyy-MM-dd}.log.gz">

            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

        </RollingFile>

    </Appenders>

   <Loggers>

    <!-- ❌ Suppress TestNG internal logs -->
    <Logger name="org.testng" level="warn" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Logger>

    <!-- ❌ Suppress WebDriverManager logs -->
    <Logger name="io.github.bonigarcia" level="warn" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Logger>

    <!-- ❌ Suppress Selenium logs -->
    <Logger name="org.openqa.selenium" level="warn" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Logger>

    <!-- ✅ Your framework logs -->
    <Logger name="base" level="info"/>
    <Logger name="pages" level="info"/>
    <Logger name="tests" level="info"/>
    <Logger name="utils" level="info"/>

    <!-- Root logger -->
    <Root level="warn">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Root>

  </Loggers>

</Configuration>